



# Mã ngân hàng theo vietqr.io (ví dụ: mbbank, vcb, vietinbank, tpbank, acb...)
VITE_VIETQR_BANK_ID=

# Số tài khoản nhận tiền
VITE_VIETQR_ACCOUNT_NO=

# Tên chủ tài khoản (viết không dấu, ví dụ: TRAN THANH SANG)
VITE_VIETQR_ACCOUNT_NAME=
